<h1 class="text-lg">My Pubs</h1>
<hr>
<div class="py-2">
  <div class="text-right">
    <Link @type="primary" @href="#">New Pub</Link>
  </div>
  <div class="grid grid-cols-4 gap-2">
    {{#each this.pubs as |pub|}}
      <div>
        {{pub.name}}
      </div>
      <div></div>
      <div></div>
      <div>

      </div>
    {{/each}}
  </div>
</div>