<div class="flex flex-wrap mb-4">
  <div class="w-full md:w-64">
    <Dashboard::Sidebar::sidebar>
      <Dashboard::Sidebar::Link @href="/dashboard">My Pubs</Dashboard::Sidebar::Link>
    </Dashboard::Sidebar::sidebar>
  </div>
  <div class="w-full md:flex-1">
    <ContentContainer>
      {{ outlet }}
    </ContentContainer>
  </div>
</div>