<ContentContainer>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    {{#each @model as |pub|}}
      <div>
        <PubCard @pub={{ pub }}>
        </PubCard>
      </div>
    {{/each}}
  </div>
</ContentContainer>

{{outlet}}